body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(16, 16, 16) 78%, rgb(19, 19, 19) 91%);
}

.home-button {
    font-family: Helvetica;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 0 2px #ffffff;
    background-color: #151515;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

.home-button:hover {
    background-color: #202020;
}