* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    color: white;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.content {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.btn {
    display: inline-block;
    background: #151515;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 18px;
    text-decoration: none;
    box-shadow: 0 0 0 2px #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background: #202020;
    color: #fff;
}
h1{
    font-family:Helvetica;
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
}

p{
    font-family:Helvetica;
    color: #E0E0E0;
    text-shadow: 1px 1.5px 2px #1d1d1d;
    font-size: 28px;
}
a{
    font-family:Helvetica;
    color: #ffffff;
}