body {
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    opacity: 90%;
    padding: 0;
    text-align: center;
}
.container {
    padding: 50px;
}
.section-header {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
h1 {
    font-size: 2em;
    font-weight: 700;
    color:#E7B51E;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}
.button-container {
    margin-top: 20px;
}
.button {
    background: #E7B51E;
    color: #141E30;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}
.button:hover {
    background: #FFD700;
}
.home-button {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.3s;
}
.home-button:hover {
    background: white;
    color: #141E30;
}
